html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

/* remember to define visible focus styles!
:focus {
outline: ?????;
} */
/* remember to highlight inserts somehow! */
ins {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 17px;
  line-height: normal;
  background-color: #42413C;
  margin: 0;
  padding: 0;
  color: #3a3a3a; }

.container {
  width: 940px;
  background-color: #FFFFFF;
  margin: 0 auto; }

main {
  padding: 1em 10% 3em; }

img {
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
  padding: 1em; }

.logo {
  width: 100%; }

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 20px; }

h1 {
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2em; }

h2 {
  font-size: 2rem; }

p {
  margin-bottom: 1.5em;
  line-height: 1.5; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

footer {
  padding: 10px 0;
  text-align: center;
  position: relative;
  clear: both;
  font-size: 10px; }
  footer p {
    margin-top: 0;
    padding-right: 15px;
    padding-left: 15px; }
