body {
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    line-height: normal;
    background-color: #42413C;
    margin: 0;
    padding: 0;
    color: #3a3a3a;
}

.container {
    width: 940px;
    background-color: #FFFFFF;
    margin: 0 auto;
}

main {
	padding: 1em 10% 3em;
}

img {
	box-sizing: border-box;
	display: inline-block;
    vertical-align: middle;
	padding: 1em;
}

.logo {
	width: 100%;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 20px;
}

h1 {
	font-size: 2.5rem;
	font-weight: 300;
	line-height: 1.2em;
}

h2 {
	font-size: 2rem;
}

p {
	margin-bottom: 1.5em;
	line-height: 1.5;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

footer {
    padding: 10px 0;
    text-align: center;
    position: relative;
    clear: both;
    font-size: 10px;

    p {
	    margin-top: 0;
	    padding-right: 15px;
	    padding-left: 15px;
    }
}